@media screen and (min-width: 350px){
    *{
        margin: 0;
        padding: 0;
        
    }
    body{
        background-color: #5D6D7E;
        box-sizing: border-box;
    }
    :root{
        --primary-color: #fff;
        --secondary-color: #797D7F; 
    }
    hr{
        color: var(--primary-color);
        background-color: var(--primary-color);
    }
    .clear-div{
        clear: both;
    }
    .container{
        margin: 20px auto;
        box-sizing: border-box;
        border: 0px solid transparent;
        border-radius: 50px;
        box-shadow: 0px 10px 20px;
        height: 600px;
        width: 1000px;
        background-color: #1B2631;
        
    }
    .logo{
        float: left;
    }
    .headname{
        height: 60px;
        width: 200px;
        margin: 40px 0px 0px 50px ;
        text-align: center;
        font-size: 50px;
        color:var(--primary-color); 
        font-family: 'Gruppo', sans-serif;
    }
    .headname1{
        height: 60px;
        width: 200px;
        margin: -10px 0px 0px 54px ;
        text-align: center;
        font-size: 20   px;
        color: var(--primary-color); 
        font-family: 'Gruppo', sans-serif;
    }
    .nav-bar{
        height: 40px;
        width: 600px;
    }
    .nav-menu{
        float: right;
        margin: 48px 70px 0px 0px;
    }
    .nav-menu ul{
        list-style-type: none;
    }
    .nav-menu ul li{
        float: left;
        margin: 20px;

    }
    .nav-menu ul li a{
        text-decoration: none;
        color: var(--secondary-color) ;
        font-size: 25px;
        font-family: 'Rajdhani', sans-serif;
        font-weight: bolder;
    }
    .nav-menu ul li a:hover{
        color: var(--primary-color);
        transition: 0.2s;
    }
    .image{
        float: left;
    }
    .image img{
        margin: 0px 0px 0px 40px;
        height: 400px;
        width: 230px;
        border: 5px solid #fff;
        border-radius: 50px;
    }
    .text1{
        float: left;
        width: 700px;
    }
    .hr hr{
        border: 2px solid white;
        width: 560px;
        text-align: center;
        margin: 0px 0px 0px 90px;
    }
    .text1 .name p{
        margin: 30px 0px 0px 90px;
        color: var(--primary-color);
        font-size: 70px;
        letter-spacing: 3px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
    .text1 .name section{
        margin: 0px 0px 10px 90px;
        font-size: 20px;
        color: var(--primary-color);
        font-family: 'Chakra Petch', sans-serif;
    }
    .info{
        float: left;
    }
    .info ul{
        list-style-type: circle;
        margin: 10px 0px 0px 90px;
    }
    .info ul li{
        font-size: 21px;
        color: var(--primary-color);
        margin: 20px;
        font-family: 'Inter', sans-serif;
    }
    .socialhead h1{
        margin: 10px 0px 0px 60px;
        color: var(--primary-color);
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 4px;
        font-size: 50px;
    }
    .fhr hr{
        border: 2px solid var(--primary-color);
        width: 950px;
        margin: 0 auto;
    }
    .socialbody{
        display: flex;
        justify-content: center;
    }
    .btn{
        margin: 20px;
        height: 100px;
        width: 100px;
        font-size: 50px;
        color:#5D6D7E;
        background-color: #fff;
        border: 0px solid;
        border-radius: 10px;
    }
    .btn:hover{
        color: #fff;
        background-color: #5D6D7E;
    }
    .servicehead h1{
        color: #fff;
        margin-left: 50px;
        font-family: 'Rajdhani', cursive;
        font-size: 50px;
    }
    .servicebody{
        margin-top: 20px;
    }
    .servicebody .web{
        float: left;
    }
    .servicebody .web h3{
        margin: 10px 0px 0px 50px;
        padding: 5px;
        color: #fff;
        background-color:#5D6D7E;
        border: 0px solid;
        border-radius: 5px;
        font-family: 'Arvo', serif;
        font-size: 30px;
    }
    .servicebody .web ul{
        margin: 10px 0px 0px 60px;
    }
    
    .servicebody .web ul li{
        margin: 10px;
        color: var(--primary-color);
        font-family: 'Abel', sans-serif;
        font-size: 20px;
    }

    .servicebody .graph{
        float: left;
    }
    .servicebody .graph h3{
        margin: 10px 0px 0px 50px;
        padding: 5px;
        color: #fff;
        background-color: #F07261;
        border: 0px solid;
        border-radius: 5px;
        font-family: 'Arvo', serif;
        font-size: 30px;
    }
    .servicebody .graph ul{
        margin: 10px 0px 0px 60px;
    }
    
    .servicebody .graph ul li{
        margin: 10px;
        color: var(--primary-color);
        font-family: 'Abel', sans-serif;
        font-size: 20px;
    }

}